@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  src: url('./assets/fonts/Pretendard-Light.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src: url('./assets/fonts/Pretendard-Light.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  src: url('./assets/fonts/Pretendard-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  src: url('./assets/fonts/Pretendard-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  src: url('./assets/fonts/Pretendard-ExtraBold.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  src: url('./assets/fonts/Pretendard-Black.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  font-family: 'Pretendard', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #343434;
  display: flex;
  justify-content: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: 'Pretendard';
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100%;
  min-height: 667px;
  justify-content: center;
  align-items: center;
}
